AM4_BASE_URL=https://www.airlinemanager.com
AM4_EMAIL=your-email@example.com
AM4_PASSWORD=your-password
AM4_FUEL_THRESHOLD=550
AM4_CO2_THRESHOLD=125
AM4_DEPART_CHECK_INTERVAL_MIN_SECONDS=1000
AM4_DEPART_CHECK_INTERVAL_MAX_SECONDS=5000
AM4_FUEL_CHECK_INTERVAL_MIN_SECONDS=600
AM4_FUEL_CHECK_INTERVAL_MAX_SECONDS=1800
